.productDetails_img_con{
  width: 100%;
  max-width: 450px;
}
.CarouselImage{
  object-fit: contain;
  width: 100%;
  height: 28vmax;
  display: block;
  margin: auto;
}
.productDetails_con{
  width: 50%;
  margin-inline: 15px;
}
.ProductDetails{
  max-width: 100%;
  overflow: hidden;
  height: auto;
  display:flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.detailsBlock-1 > p {
  font-size: 13px;
  color: rgba(54, 54, 54, 0.693);
}
.detailsBlock-1 > p:nth-child(3), p:nth-child(4), p:nth-child(5){
  font-size: 12px;
  /* color: #333; */
}

.detailsBlock-2{
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detailsBlock-2>span{
  font-weight: normal;
}
.detailsBlock-3-1-1 > button {
  margin-top: 8px;
  border: none;
  background-color: rgba(51, 51, 51, 0.922);
  padding: 0.8vmax;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}
.detailsBlock-3-1-1 > button:hover {
  background-color: rgba(0, 0, 0, 0.767);
}

.detailsBlock-3-1-1 > input {
  border: none;
  font-size: 17px;
  padding: 0.8vmax;
  width: 4vmax;
  text-align: center;
  outline: none;
  margin-inline: 3px;
  color: rgba(0, 0, 0, 0.74);
  border-bottom: 1px solid rgba(51, 51, 51, 0.449);
}
.detailsBlock-3 > p {
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  padding: 1vmax 0;
  color: rgba(0, 0, 0, 0.593);
  margin: 1vmax 0;
  display: flex;
  align-items: baseline;
}

.margin-price {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.593);
  margin-top: 0;
  font-weight: normal;
  text-align: right;
  margin-left: auto;
  width: auto;
}
.margin-price span {
  font-weight: bold;
  font-size: 20px;
  color: green;
}

.addToCart_btn
{
  cursor: pointer;
  background-color: #051B4C;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 12px;
  font-size: 15px;
  text-transform: capitalize;
  color: white;
  transition: all 0s ease;
}
.addToCart_btn:active,
.wishlistButton:active
{
  transform: scale(0.98);
}

.wishlistButton{
  margin-left: 10px;
  cursor: pointer;
  background-color: #051b4c08;
  border: 1px solid #333;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  text-transform: capitalize;
  color: black;
  transition: all 0s ease;
}

.similarProduct__box {
  margin-top: 35px;
}

.similarProducts {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.shop__pro_recom {
  width: calc(25% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}

.shop__pro_recom:last-child {
  margin-right: 0;
}

.shop__pro_recom img {
  /* width: 110%; */
  height: 12vh;
  object-fit: contain;
}

.shop__des_reco {
  margin-top: 10px;
}

.shop__des_reco h5 {
  font-size: 14px;
  margin-bottom: 5px;
}

.shop__des_reco h4 {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.similarProductsSubs{
  overflow: hidden;
}
.substitute__medPrice{
  border-bottom: 2px solid #FFBF00;
  font-weight: inherit;
  padding: 3px;
}

.price-container {
  align-items: baseline;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.selling-price {
  grid-column: 1 / 2;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.593);
}

.mrp-price {
  grid-column: 2 / 3;
  font-size: 16px;
  color:rgba(0, 0, 0, 0.593);
}

.selling-price>span{
  color: green;
  font-size: 27px;
  margin-left: 4px;
}

.price-container span {
  font-weight: bold;
}
.price-container h2, h1 {
  font-weight: normal;
}

.price-container small {
  font-size: 16px;
  color: #666;
}

.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}


/* responsive */
@media screen and (max-width: 650px){
  .detailsBlock-1 > p:nth-child(3){
    font-size: 13px;
    margin-bottom: 1px;
    color: rgba(54, 54, 54, 0.693);
  }
  .similarProduct__box {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .similarProducts {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0;
    width:42vh;
  }
  
  .shop__pro_recom {
    flex: 0 0 calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .shop__pro_recom:last-child {
    margin-right: 0;
  }
  
  .shop__pro_recom img {
    width: 80%;
    height: 15vh;
    object-fit: contain;
  }
  
  .shop__des_reco {
    margin-top: 5px;
  }
  
  .shop__des_reco h5 {
    font-size: 11px;
    color: #333333f1;
    margin-bottom: 3px;
  }
  
  .shop__des_reco h4 {
    font-size: 16px;
    font-weight: 550;
  }
  
  .ProductDetails{
    margin-bottom: 10vh;
    height: auto;
    display: grid;
  }
  .productDetails_img_con{
    width: 100%;
    max-width: 400px;
  }
  .CarouselImage{
    position: relative;
    max-width: 100%;
    width: auto;
    margin-top: 10px;
  }
  .productDetails_con{
    width: fit-content;
  }
  .detailsBlock-3 > p {
    padding: 2vmax 0;
    font-size: large;
  }
  .detailsBlock-3 > p > h3{
    font-size: large;
  }
  .detailsBlock-3-1-1 > button {
    font-size: larger;
    padding: 1.3vmax;
    transition: all 0.2s ease-in-out;
  }
  .detailsBlock-3-1-1 > button:focus {
    outline: none;
  }
  
  .detailsBlock-3-1-1 > button:active {
    transform: translateY(3px);
    box-shadow: 0 2px 0 rgba(0,0,0,0.2);
  }

  .detailsBlock-3-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .price-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 6px;
    border-radius: 0;
    align-items: end;
  }
  
  .selling-price {
    margin-top: 7px;
    margin-bottom: 14px;
    text-align: left;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
  
  .mrp-price {
    /* margin-top: 5px; */
    text-align: right;
  }
  .addToCart_btn{
    margin-left: 5px;
  }
}