.forgotPasswordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.forgotPasswordBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
}

.forgotPasswordHeading {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 440;
}

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.forgotPasswordEmail {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.forgotPasswordBtn {
  border: none;
  background-color: #051b4c;
  color: white;
  font-size: large;
  padding: 0.8vmax;
  width: 25vh;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}


