.resetPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resetPasswordBox {
  width: 100%;
  max-width: 350px;
  margin-top: 4vh;
  background-color: white;
  border-radius: 4px;
}

.resetPasswordHeading {
  border-bottom: 1px solid #ffbe00;
  font-style: italic;
  font-size: 28px;
  margin-bottom: 20px;
  width: fit-content;
  font-weight: 700;
}

.resetPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
}

.resetPasswordForm > div {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.resetPasswordForm > div > input {
  margin-left: 5px;
  padding: 15px;
  font-size: 18px;
  width: 100%;
  border: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  outline: none;
}

.resetPasswordBtn {
  border: none;
  background-color: #051b4c;
  color: white;
  font-size: large;
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

@media (min-width: 768px) {
  .resetPasswordContainer {
    justify-content: center;
  }
  
  .resetPasswordBox {
    width: 50%;
    max-width: 500px;
    padding: 40px;
  }
  
  .resetPasswordForm > div > input {
    font-size: 18px;
    padding: 15px;
  }
  
  .resetPasswordBtn {
    font-size: 18px;
    padding: 15px;
  }
}
