/* Mobile Styles */
.updatePasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updatePasswordBox {
  width: 100%;
  max-width: 350px;
  margin-top: 4vh;
}

.updatePasswordHeading {
  border-bottom: 1px solid #ffbe00;
  font-style: italic;
  font-size: 28px;
  margin-bottom: 20px;
  width: fit-content;
  font-weight: 700;
}

.loginPassword {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.loginPassword input {
  margin-left: 5px;
}

.updatePasswordBtn {
  border: none;
  background-color: #051b4c;
  color: white;
  font-size: large;
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

/* Tablet and Desktop Styles */
@media (min-width: 768px) {
  .updatePasswordContainer {
    justify-content: center;
  }
  
  .updatePasswordBox {
    width: 50%;
    max-width: 500px;
    padding: 40px;
  }
  
  .loginPassword {
    margin-bottom: 40px;
  }
  
  .loginPassword input {
    font-size: 18px;
    padding: 15px;
  }
  
  .updatePasswordBtn {
    font-size: 18px;
    padding: 15px;
  }
}
